{% comment %}
    Create <select> that sorts collection by:
    - best selling
    - newest
    - price, low to high
    - price, high to low

    Usage:
    {%render 'collection-sort'%}
{% endcomment %}


{% assign options = 'price-ascending: Lowest price | price-descending: Highest price | best-selling: Best selling | created-descending: Newest' | split: '| ' %}
{% assign sort = collection.sort_by %}
{% assign defaultSort = collection.default_sort_by %}


<li class="filter__category category">
    <fieldset class="category__input-group">
        <h3 class="category__title">Sort</h3>
        <legend class="visually-hidden">Sort by option</legend>
        
        {% for obj in options %}
            {% assign option = obj | split: ': ' %}
            {% assign value = option[0] %}
            <label class="category__label">
                <input
                    type="radio"
                    name="sort"
                    class="category__radio"
                    value="{{value}}"
                    {% if sort == blank and defaultSort == value %}
                        checked
                    {% endif %}
                    {% if sort == value and defaultSort != value %}
                        checked
                    {% endif %}
                >
                {{option[1] | capitalize}}
            </label>
        {% endfor %}
    </fieldset>
</li>
