{% comment %}
Create form populated by collection's product types and product tags

Accepts:
- collection: {Object} Collection Liquid object (required)

Usage:
{% render 'collection-filter', collection: collection %}
{% endcomment %}
{% assign separator = settings.filter__separator %}

{% comment %}Sanitize input to be case insensitive and strip additional spaces and remove repeats{% endcomment %}
{% assign categories = settings.filter__prefix | remove: ' ' | downcase | split: ',' | uniq %}

<aside class="collection__filter filter">

    <form class="filter__form">
        <h2 class="filter__title">Filter</h2>
        <ul class="filter__categories">

            {% render 'collection-sort' %}

            {% for category in categories %}
                {% render 'filter-category', tags: collection.all_tags, category: category %}
            {% endfor %}
        </ul>

        <input type="submit" value="Filter products" class="filter__submit btn btn--disabled" disabled>

    </form>
    
</aside>
