{% comment %}
Create form populated by collection's product types and product tags

Accepts:
- collection: {Object} Collection Liquid object (required)

Usage:
{% render 'collection-filter', collection: collection %}
{% endcomment %}
{% assign separator = settings.filter__separator %}

{% comment %}Sanitize input to be case insensitive and strip additional spaces and remove repeats{% endcomment %}
{% assign categories = settings.filter__prefix | remove: ' ' | downcase | split: ',' | uniq %}

<aside class="collection__filter filter">

    <div class="filter__container">
        <h2 class="filter__title">Filter</h2>
        <div class="filter__category-container">
            <div class="filter__category category">
                <h3 class="category__title">Product Type</h3>
                <ul class="category__list">
                    {% for type in collection.all_types %}
                    {% assign link = type | link_to_type %}
                    {% unless link contains 'Unknown' %}
                        <li class="category__list-item">
                            <label class="category__label">
                                <input type="checkbox" class="category__checkbox" id="{{type}}">
                                {{type | capitalize}}
                            </label>
                        </li>
                    {% endunless %}
                    {% endfor %}
                </ul>
            </div>
            {% for category in categories %}
                {% render 'filter-category', tags: collection.all_tags , category: category %}
            {% endfor %}
        </div>
    </div>

</aside>


