{% comment %}
    Create <select> that sorts collection by:
    - best selling
    - newest
    - price, low to high
    - price, high to low

    Usage:
    {%render 'collection-sort'%}
{% endcomment %}

{% assign sort = collection.sort_by %}
{% assign options = 'best-selling: Best selling | created-descending: Newest | price-ascending: Price, low to high | price-descending: Price, high to low' | split: '| ' %}

<div class="collection__sort">
    <label for="sort" class="visually-hidden">Sort by</label>
    <select name="sort" id="sort">
        {% for obj in options %}
            {% assign option = obj | split: ': ' %}
            {% assign value = option[0] %}
            <option value={{value}} {% if value == sort %}selected{% endif %}>{{option[1]}}</option>
        {% endfor %}
    </select>
</div>


<script>
    const params = (new URL(location)).searchParams;
    
    document.querySelector('#sort').addEventListener('change', e => {
      params.set('sort_by', e.target.value);
      window.location.search = params.toString();
    });

</script>