{% comment %}
    Create radio inputs that sorts collection by:
    - best selling
    - newest
    - lowest price
    - highest price

    The checked radio criteria:
        Case 1: no sort option selected
        - Radio with value matching collection's default sort is checked

        Case 2: sort option selected
        - Radio with value matching the selected sort is checked

    Usage:
    {%render 'collection-sort'%}
{% endcomment %}


{% assign options = 'price-ascending: Lowest price | price-descending: Highest price | best-selling: Best selling | created-descending: Newest' | split: '| ' %}
{% assign sort = collection.sort_by %}
{% assign defaultSort = collection.default_sort_by %}


<li class="filter__category category">
    <fieldset class="category__input-group">
        <h3 class="category__title">Sort</h3>
        <legend class="visually-hidden">Sort by option</legend>
        
        {% for obj in options %}
            {% assign option = obj | split: ': ' %}
            {% assign value = option[0] %}
            <label class="category__label">
                <input
                    type="radio"
                    name="sort"
                    class="category__radio"
                    value="{{value}}"
                    {% if sort == value and defaultSort != value %}
                        checked
                    {% endif %}
                    {% if defaultSort == value and sort == blank or sort == value %}
                        checked
                    {% endif %}
                >
                {{option[1] | capitalize}}
            </label>
        {% endfor %}
    </fieldset>
</li>
