{% comment %}
Paginates a collection

Accepts:
- paginate: {Object} Paginate Liquid Object (required)
- pages: {Number} Number of pages created by paginate tag (required)
- class: {String} Name of class for additional styling (optional)

{% render 'pagination', paginate: paginate, pages: paginate.pages, class: 'collection__products'%}
{% endcomment %}

<button class="btn btn--ghost collection__load-btn" data-next-page="2" onclick="appendProducts(this, {{pages}})">
    Load more
</button>
