{% comment %}
Create a slideshow 

Accepts:
- media: {Object} media attribute of Liquid Product Object (required)

Usage:
{% render 'slideshow', media: product.media %}
{% endcomment %}

{% assign lastIndex = media | size | minus: 1 %}

<div class="quickview__slideshow" data-slideshow-current="0" data-slideshow-left="{{lastIndex}}" data-slideshow-right="1" data-slideshow-last="{{lastIndex}}">    
        <div class="quickview__current-img-wrapper">
            {% render 'responsive-img', img: media[0], class: 'quickview__current-img' %}
        </div>
    <div class="quickview__controls">
        <button class="quickview__arrow quickview__arrow--left fab">{% render 'icon-chevron-left' %}</button>
        <button class="quickview__arrow quickview__arrow--right fab">{% render 'icon-chevron-right' %}</button>
    </div>
    <ul class="quickview__thumbnails">
        {% for item in media %}
            {%- capture renderedHTML -%}{% render 'responsive-img', img: item %}{%- endcapture -%}
            <li class="quickview__thumbnail {%if item == media[0]%}quickview__thumbnail--selected{%endif%}" data-html='{{renderedHTML | strip}}'></li>
        {% endfor %}
    </ul>
</div>