@use '../mixins'

.footer
    background: var(--color__primary)
    color: var(--color__secondary)
    padding: var(--padding)
    @include mixins.flex(row wrap, center, center)

    &__wrapper
        margin-bottom: var(--padding)
        display: grid
        grid-template-rows: repeat(2, 1fr)
        grid-gap: var(--padding)

        @include mixins.small-medium
            @include mixins.flex(row nowrap, '', '')

    &__heading
        font-size: inherit
        text-transform: uppercase
        letter-spacing: 1px
        margin-bottom: var(--padding--half)

    &__newsletter
        @include mixins.small-medium
            order: 2

    // &__menus
    //     display: grid
    //     grid-template-columns: repeat(2, 1fr)
    //     grid-gap: var(--padding)

    &__menu-list
        @include mixins.reset-list-style
        @include mixins.remove-space

    &__menu
        color: inherit

    &__menu-link
        color: inherit
        font-weight: inherit
        @include mixins.reset-anchor

    &__social-media
        width: 100%
        @include mixins.flex(row nowrap, center, center)

    &__icon-wrapper
        text-align: center
        @include mixins.icon
        margin: var(--padding--half)

    &__icon-link
        color: var(--color__secondary)
