@use '../mixins'

.intro
    width: 100%
    min-height: 25rem
    color: var(--color__secondary)
    // background image url is declared in corresponding liquid section since merchant will pick image
    @include mixins.medium
        @include mixins.flex(column nowrap, center, flex-start)
        min-height: 35rem
        padding-left: 25%
        padding-right: 25%
        text-align: center
    @include mixins.large
        min-height: 23rem

    &__text-wrapper

    &__heading
        font-size: 2.4rem
        font-weight: bold
        margin: 0
        line-height: 1.25
        font-family: var(--font__heading)

    &__text
        line-height: 1.25

    &__link-wrapper
        width: 100%
        margin-top: calc(var(--padding) *2)
        @include mixins.flex(row nowrap, space-evenly, center)

    &__link
        line-height: 2
        border-radius: .4rem
        padding: .5rem
        min-width: 20%
        max-width: 30%
        text-align: center
