@use '../mixins'

.btn
    @include mixins.btn
    border: none
    font: inherit
    background: none

    &:hover
        cursor: pointer

    &--default
        @include mixins.btn-default

    &--ghost
        @include mixins.btn-ghost

    &--primary
        @include mixins.btn-primary

    &--inverse
        @include mixins.btn-inverse

    &--outline
        @include mixins.btn-outline

    &--disabled
        @include mixins.btn-disabled

    &__header
        border: none
        background: none
        padding: 0
        @include mixins.icon

    &__select
        padding: 0
        @include mixins.icon
