@use '../_mixins'

.fab
    @include mixins.icon
    border-radius: 50%
    border: none
    padding: 0

    &:hover
        cursor: pointer

    &__scroll-up
        position: fixed
        bottom: var(--padding)
        right: var(--padding)
        background: var(--color__primary--500)
        @include mixins.medium
            display: none

    &__close-modal
        float: right
        margin-top: var(--padding--quarter)
        margin-right: var(--padding--quarter)
        background: var(--color__secondary)
