@use '../mixins'

.product-card
    // box-shadow: rgb(211 212 213) 0px 6px 12px 0px
    @include mixins.flex(column nowrap, space-between, flex-start)

    &__img
        height: 15rem
        width: 100%
        margin-bottom: var(--padding--half)
        @include mixins.medium
            height: 14rem

    &__details

    &__title
        font-size: inherit
        text-decoration: none
        color: inherit
        @include mixins.medium
            height: auto

    &__price
        &--prefix
            font-style: italic
            margin-right: 1ch

    &__btn
        width: 100%
