@use '../mixins'

.search
    &__wrapper
        width: 100%
        padding-top: var(--padding)
        position: relative
        @include mixins.flex(column nowrap, center, stretch)

    &__input-wrapper
        border: 1px solid #000
        border-radius: var(--padding)

    &__input
        border-radius: inherit !important

    &__icon
        margin-right: var(--padding--half)

    &__results
        margin-top: var(--padding--half)
        background: #fff
        width: 100%
        max-height: 50vh
        overflow-y: auto
        padding: var(--padding--half)
        box-shadow: 0 0 2rem #eee

    &__submit
        position: relative
        &--hidden
            display: none

.results
    &--hidden
        display: none

    &__title
        text-transform: capitalize

    &__list
        @include mixins.reset-list-style

    &__list-item
        margin-bottom: var(--padding--half)
        transition: .3s
        padding: var(--padding--quarter)
        &:hover
            background: var(--color__primary--100)

    &__link
        @include mixins.flex(row nowrap, flex-start, center)

    &__img
        $height: calc(var(--padding)*2)
        width: $height
        height: $height
        background: var(--color__primary--100)
        margin-right: var(--padding--half)
        object-fit: cover
