{% assign product = all_products[section.settings.featured-product] %}

<section class="featured-product">
    <div class="featured-product__slideshow slideshow">
        {% include 'responsive-img', img: product.images[0], class: 'slideshow__current-img' %}
        
        <div class="featured-product__slideshow slideshow__thumbnails">  
            {% for img in product.images %}
                {% include 'responsive-img', img, class: 'slideshow__thumbnail' %}
            {% endfor %}
        </div>
    </div>
    <div class="featured-product__details-wrapper">
        <h3 class="featured-product__title">{{product.title}}</h3>
        <p class="featured-product__price">{{product.price | money}}</p>
        {% if product.available %}            
            <button class="featured-product__btn btn btn--secondary">Add to cart</button>
        {% else %}
            <button class="featured-product__btn btn btn--disabled" disabled>Add to cart</button>
        {% endif %}
        <p class="featured-product__details">{{product.description | truncatewords: 50 }} 
            <a href="{{product.url}}" class="featured-product__details-link link">View details</a>
        </p>
        
        
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.slideshow__thumbnail').classList.toggle('slideshow__thumbnail--selected');
    })
    const thumbnails = document.querySelectorAll('.slideshow__thumbnail');
    const currentImg = document.querySelector('.slideshow__current-img');
    thumbnails.forEach(thumbnail => {
        thumbnail.addEventListener('click', () => {
           currentImg.removeAttribute('src');
           currentImg.srcset = thumbnail.srcset;
           currentImg.alt = thumbnail.alt;
           document.querySelector('.slideshow__thumbnail--selected').classList.toggle('slideshow__thumbnail--selected');
           thumbnail.classList.toggle('slideshow__thumbnail--selected')
        })
    })
</script>


{% schema %}
    {
        "name": "Featured Product",
        "settings": [
            {
                "type": "product",
                "id": "featured-product",
                "label": "Featured Product"
            }
        ],
        "presets": [
            {
                "name": "Featured Product",
                "category": "Product"
            }
        ]
    }
{% endschema %}