{% assign settings = section.settings %}
{% assign logo = settings.header__logo | img_url: '200x200' %}

<header class="header">
    <div class="header__wrapper">
        <button class="btn btn__header header__toggle">
            {% render 'icon-hamburger' %}
        </button>

        <a href="/" class="header__link link">
            <div class="header__logo">
                {% render 'logo' %}
            </div>
        </a>

        <nav class="nav nav__header--desktop">
            {% render 'nav', linklist: section.settings.header__nav %}
        </nav>

        <button class="btn btn__header header__cart">
            {% render 'icon-cart' %}
        </button>
    </div>

    <div class="search__wrapper">
        <form class="search single-input-form" name="search">
            <fieldset class="single-input-form__field">
                <legend class="visually-hidden">Search website</legend>
                <div class="search__input-wrapper single-input-form__wrapper">
                    
                    <label for="search" class="visually-hidden">Newsletter Signup</label>
                                    
                    <input type="text" name="search" class="search__input single-input-form__input" placeholder="Boba Box" required>

                    <button class="search__clear search__clear--hidden">
                        {% render 'icon-close' %}
                    </button>

                    <div class="single-input-form__icon-wrapper search__icon">
                        {% render 'icon-search' %}
                    </div>
                </div>
            </fieldset>
        </form>
        

        <div class="search__results results results--hidden">    
        </div>

        <button type="submit" for="search" class="btn btn--default search__submit search__submit--hidden"></button>


    </div>

    <nav class="nav nav__header--mobile nav__header--collapsed">
        <button class="btn btn__header header__close">
            {% render 'icon-close' %}
        </button>
        {% render 'nav', linklist: section.settings.header__nav %}
    </nav>
</header>

{% javascript %}

    function toggleElement(el, target) {
        document.querySelector(`.${el}`).classList.toggle(target)
    }

    document.querySelector('.header__toggle').addEventListener('click', () => {
        toggleElement('nav__header--mobile', 'nav__header--expanded');
    })

    document.querySelector('.header__close').addEventListener('click', () => {
        toggleElement('nav__header--mobile', 'nav__header--expanded');
    })

{% endjavascript %}


{% schema %}
    {
    "name": "Header",
    "settings": [
        {
        "type": "link_list",
        "label": "Main Navigation",
        "id": "header__nav",
        "info": "Only the first level links will be rendered"
        }
    ]
    }
{% endschema %}