@use 'functions'

//Order-------------------------------------------------
//  Order
//  breakpoints
//  typography
//  sizing images
//  layout
//  position
//  button styles
//------------------------------------------------------

//breakpoints
$small: 320px
$medium: 768px
$large: 1440px

@mixin small
    @media screen and (min-width: $small)
        @content

@mixin medium
    @media screen and (min-width: $medium)
        @content

@mixin large
    @media screen and (min-width: $large)
        @content

// sizing imaages
@mixin set-dimensions($width, $height)
    width: $width
    height: $height

@mixin square-icons($width)
    width: $width
    height: $width

//typography
@mixin type-scale
    $levels: 1, 2, 3, 4, 5, 6
    @each $level in $levels
     h#{$level}
        font-size: functions.heading-size($level) * 1rem
        line-height: 1.5
        margin: 0
        padding: 0
        font-weight: 800
        font-family: var(--font__heading)

@mixin flex($flex-flow, $justify, $align)
    display: flex
    flex-flow: $flex-flow
    justify-content: $justify
    align-items: $align

//layout
@mixin flex-center
    @include flex(row nowrap, center, center)

@mixin remove-space
    margin: 0
    padding: 0

@mixin reset-anchor
    text-decoration: none

//position
//set position of block 
//optionally set coordinates of block
//$coords-map is a map
@mixin position($position, $coords-map: ())
    position: $position
    @each $prop, $val in $coords-map
        #{$prop}: $val

//button styles
@mixin btn
    line-height: 2
    border-radius: .4rem
    padding: 1rem
    min-width: 20%
    transition: .5s
    text-align: center
    &:hover
        cursor: pointer

@mixin btn-primary
    @include btn
    background: var(--color__secondary)
    border: 2px solid var(--color__secondary)
    color: var(--color__primary)
    &:hover
        background: var(--color__primary)
        color: var(--color__secondary)
        border-color: var(--color__primary)

@mixin btn-third
    background: var(--color__primary)
    color: var(--color__secondary)
    border: 2px solid var(--color__primary)
    &:hover
        background: var(--color__secondary)
        color: var(--color__primary)

@mixin btn-disabled
    background: #88888840
    border-color: inherit
    color: #88888880
    cursor: not-allowed

@mixin btn-secondary
    @include btn
    border: 2px solid var(--color__secondary)
    color: var(--color__secondary)
    &:hover
        @include btn-primary
