@use 'mixins'

html
    font-size: var(--font__size)
    @include mixins.medium
        font-size: 1rem
    @include mixins.large
        font-size: 1.6vw

// assign rules for headings and calculate heading sizes based on a scale
@include mixins.type-scale

body
    font-size: 1rem
    font-weight: 300
    font-family: var(--font__body)
    line-height: 1.35

p
    margin: 1rem 0

// inclusively hide content
// https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
.visually-hidden
    clip: rect(0 0 0 0)
    clip-path: inset(50%)
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    width: 1px
