@use 'mixins'

html
    font-size: var(--font__size)
    @include mixins.medium
        font-size: 1rem
    @include mixins.large
        font-size: 1.6vw

// assign rules for headings and calculate heading sizes based on a scale
@include mixins.type-scale

body
    font-size: 1rem
    font-weight: 300
    font-family: var(--font__body)
    line-height: 1.35

p
    margin: 1rem 0

.visually-hidden
    display: none
