
{% render 'collection-filter', collection: collection %}


<section class="collection"

{{collection.products_count}}
  {% render 'breadcrumbs', class: 'collection__breadcrumbs' %}

  <h1 class="collection__title">{{collection.title}}</h1>
  <p class="collection__description">{{collection.description}}</p>
  
  <div class="collection__controls">
    <div class="collection__filter filter">filter</div>
    {% render 'collection-sort' %}
  </div>

  {% paginate collection.products by 12 %}
    <div class="collection__products">
    {% for product in collection.products %}
      {% render 'product-card', product: product, collection: collection, class: 'collection__product' %}
    {% endfor %}
    </div>
    
    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate, pages: paginate.pages %}
    {% endif %}

  {% endpaginate %}

</section>
