
<section class="collection">

  <div class="breadcrumb">breadcrumb</div>

  <h1 class="collection__title">{{collection.title}}</h1>
  <p class="collection__description">{{collection.description}}</p>
  
  <div class="collection__controls">
    <span class="collection__count">{{collection.products_count}} products</span>
    <span>filter</span>
  </div>

  {% paginate collection.products by 12 %}
    <div class="collection__products">
    {% for product in collection.products %}
      {% render 'product-card', product: product, class: 'collection__product' %}
    {% endfor %}
    </div>
    
    {% if paginate.pages > 1 %}
      {% render 'pagination', paginate: paginate, pages: paginate.pages %}
    {% endif %}

  {% endpaginate %}

</section>
