<section class="search-results">

  <h1 class="search-results__main-title">Search results for '{{search.terms}}'</h1>

  <p class="search-results__total">{{search.results_count}} found</p>

  {% if search.results != blank %}

    <section class="search-results__wrapper">
      {% paginate search.results by 1000 %}
  
        {% assign types = 'product, page, article' | split: ', ' %}
  
        {% for type in types %}
          {% render 'search-results', type: type, data: search.results %}
        {% endfor %}
  
      {% endpaginate %}
    </section>
    
  {% endif %}

</section>
  
